<%= stylesheet_link_tag "application", "entities_form" %>

<%= form_with(model: [@group, entity], remote: true) do |form| %>
<div class="form">
  <div class="inputs">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field-two">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>
  </div>

  <div class="field-three">
    <%= form.submit 'Create Transaction', class: 'button' %>
  </div>
   </div>
<% end %>