<%= stylesheet_link_tag "application", "entities_index" %>

<div class="total-amount">
  <p><%= @group.name %></p>
  <p class="amount">$<%= @total_amount %></p>
</div>

<table>
  <div class="main-container">
    <% @entities.each do |entity| %>
      <div class="categories-container">
        <img class="icon" src="<%= asset_path(@group.icon) %>" width="50" height="50" />
        <div class="child-cont">
          <p class="cat-name"><%= entity.name %></p>
          <p class="created-at"><%= entity.created_at.strftime("%d %b %Y") %></p>
        </div>
        <div class="child-cont">
          <p class="amount">$<%= entity.amount %></p>
          <%= button_to 'Delete', group_entity_path(@group, entity), method: :delete, class: 'delete-btn'%>
        </div>
      </div>
    <% end %>
  </div>
</table>

<div class="btn-cont">
  <%= link_to 'New Transaction', new_group_entity_path(@group) %>
</div>
<div class="back-btn">
  <%= link_to 'Back', groups_path %>
</div>